.publications-section {
  display: grid;
  grid-template-columns: 1fr; // Only one column for the overarching container
  grid-gap: 1rem;
  padding: 1rem;

  .filtr-publications {
    padding: 1rem !important;
    
    #publication-card-holder {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Creates two columns of equal size
      grid-gap: 1rem; // Space between the cards
    }
  }

  .card {
    background: get-light-color('bg-card');
    border-top: 2px solid get-light-color('accent-color');

    &:hover, &:focus {
      border-top: 2px solid get-light-color('accent-color');
    }

    .card-header {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;

      .sub-title {
        color: get-light-color('muted-text-color');
        margin-top: 0.4rem;
        span:nth-child(2) {
          float: right !important;
        }
      }
    }

    .card-body {
      padding: 0 1rem;
    }

    .card-footer {
      background: get-light-color('bg-card');
      border: none;
      padding: 0 1rem 0.3rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .btn-group {
    justify-content: center;
  }

  @media (max-width: 768px) {
    .filtr-publications #publication-card-holder {
      grid-template-columns: 1fr; // One column on smaller screens
    }
  }
}

html[data-theme='dark'] {
  .publications-section .card {
    background: get-dark-color('bg-card');
    border-top: 2px solid get-dark-color('accent-color');

    &:hover, &:focus {
      border-top: 2px solid get-dark-color('accent-color');
    }

    .card-header .sub-title {
      color: get-dark-color('muted-text-color');
    }

    .card-footer {
      background: get-dark-color('bg-card');
    }
  }
}
